/* Reset CSS */
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../img/hotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid{
    display: grid;
    grid-template-areas:
        "header nav"
        "main nav"
        "footer footer";
   grid-template-rows:  200px 1fr 280px;
   grid-template-columns: 1fr 300px;

}

header h1{
    color: white;
    text-decoration: underline;
    text-align: center;
    background-color: green;
    width: 1050px;
}

header{
    grid-area: header;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    background-color: greenyellow;
    width: 1050px;
    
}

.barraHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.logo{
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-left: 5px;
}

main{
    grid-area: main;
}

/* Funciones para crear el menú desplegable */

nav{
    position: relative;
    width:300px;
    height:400px;
    background: black;
    grid-area: nav;
    
}

nav img{
    width: 100%;

}

nav ul li{
    list-style-type: none;
    padding: 12px 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: normal;

    font-family: sans-serif;
    opacity: .7;
    font-size: 25px;

}

nav li:hover{
    background-color: red;
}


/* Finalizaron las funciones para crear menu desplegable */

.multimedia{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.multimedia iframe{
    width: 860px;
    height: 315px;
}

.multimedia img{
    width: 600;
    height: 300px;
}

.parrafo{
    margin-left: 30px;
    width: 250px;
    height: 310px;
    color: green;
    background-color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border:solid 5px red;	
    
}

#botonera{
    margin-left: 450px;
}

.botonera-2{
    margin-left: 600px;
}

.botones{
    font-size: 15px;
    width: 80px;
    height: 30px;
    display: inline-block;
    color: black;
    background-color: pink;
    border:solid 5px red;	
}

label{
    font-weight: bold;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

legend{
    font-weight: bold;
    color: red;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif; 
}

footer{
    width: 100%;
    background-color: greenyellow;
    grid-area: footer;
}


.linea img{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.linea{
    display: flex;
    align-items: left;
    width: 300px;
    height: 30px;
}

.linea p{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
}

.redes img{
    width: 25px;
    height: 25px;
}

.espaciado {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.centrar{
    text-align: center;
}

 .grid{
    display: grid;
    
}






