/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/hotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
}

header{
    padding-top: 1%;
    display: flex;
    background-color: greenyellow;
    min-height: 90px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}

.titulos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 50px;
    font-family: 'Libre Baskerville', serif;
}

.titulos h2{
    font-size: 20px;
}

.titulos h1{
    background-color: lightcoral;
    color: white;
    margin-left: 10px;
}

.barraHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}


.logo{
    display: flex;
    align-items: center;
    height: 50px;
}

.contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Funciones para crear el menú desplegable */

nav{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav a{
    text-decoration: none;
    padding-right: 10px;
    font-size: 20px;
    color: black;
}

nav a:hover{
    color: white;
    text-decoration: underline;
    background-color: black;
    margin: 2px;
}



/* Finalizaron las funciones para crear menu desplegable */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video {
    position: relative;
    width: 100vw;
    height: 25vw;
}
#video iframe {
    position: absolute;
    width: 80vw;
    height: 20vw;
}


.catalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogo img{
    width: 40vw;
    height: 30vw;
    position: relative;
}

#home{
    flex-wrap: wrap;
}

#home article{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    height: 30vw;
    color: white;
    background-color: rgb(56, 58, 50);
    font-family: 'Times New Roman', Times, serif;
    border:solid 5px black;
}

#home article p{
    width: 100%;
    height: 100px;
    word-wrap: break-word;
    overflow: hidden;
}

.habitaciones{
    display: flex;
    flex-direction: column;
}

.habitaciones h2{
    font-family: 'Libre Baskerville', serif;
}

.catalogo-habitaciones{
    grid-area: catalogo;
}

.catalogo-habitaciones img{
    width: 40vw;
    height: 30vw;
}

.botones{
    font-size: 15px;
    max-width: 80px;
    max-height: 30px;
    display: inline-block;
    color: black;
    background-color: pink;
    border:solid 2px black;	
}

.botones:hover{
    color: white;
    background-color: black;
    border: solid 5px red;
}

label{
    font-weight: bold;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

legend{
    font-weight: bold;
    color: red;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif; 
}

footer{
    width: 100%;
    height: auto;
    background-color: greenyellow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.linea img{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.linea{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 30px;
}

.linea p{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
}

.redes img{
    width: 25px;
    height: 25px;
}

.espaciado {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.centrar{
    text-align: center;
}

@media (max-width: 1176px) and (min-width: 729px){
    .barraHeader{
        flex-direction: column;
    }

    footer a{
        font-size: 20px;
    }

    nav a{
        font-size: 20px;
    }

    .contacto{
        flex-direction: row;
    }

    .redes{
        margin-left: 2px;
    }

    nav ul{
        flex-wrap: wrap;
    }

}

@media (max-width: 729px){
    .titulos{
        flex-direction: column;
        align-items: center;
    }

    .titulos h1{
        font-size: 20px;
    }

    .titulos h2, .contacto{
        font-size: 15px;
    }

    nav a{
        font-size: 15px;
    }

    footer a{
        font-size: 15px;
    }

    .barraHeader{
        flex-direction: column;
    }

    .contacto{
        flex-direction: column;
        align-items: center;
    }

    nav ul{
        flex-wrap: wrap;
    }

}

@media (max-width:1010px) and (min-width:946px){
    #home article p{
        font-size: 14px;
    }
}

@media (max-width:946px) and (min-width:774px){
    #home article p{
        font-size: 12px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .titulos h1{
        font-size: 15px;
    }

    .titulos h2, .contacto{
        font-size: 13px;
    }

    nav a{
        font-size: 13px;
    }

    footer p, footer a{
        font-size: 13px;
    }
}

@media (max-width:776px) and (min-width:618px){
    #home article p{
        font-size: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .titulos h1{
        font-size: 13px;
    }

    .titulos h2, .contacto{
        font-size: 12px;
    }

    nav a{
        font-size: 12px;
    }

    footer p, footer a{
        font-size: 12px;
    }
}

@media (max-width:618px){
    #home{
        flex-direction: column;
    }

    #home article p{
        font-size: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .titulos h1{
        font-size: 12px;
    }

    .titulos h2, .contacto{
        font-size: 11px;
    }

    nav a{
        font-size: 11px;
    }

    footer p, footer a{
        font-size: 11px;
    }
}








